$color-soft-blue: hsl(243, 86%, 85%);
$color-dark-blue: hsl(243, 87%, 12%);
$color-green:     hsl(163, 95%, 43%);
$color-grey:      hsl(0, 0%, 50%);

$font-family-body: 'Open Sans', sans-serif;
$font-family-headings: 'Raleway', sans-serif;